

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-center text-4xl sm:text-4xl;
	}
	h2 {
		@apply text-lg;
	}
	h3 {
		@apply text-lg;
	}
	h4 {
		@apply text-base;
	}
	p {
		@apply text-base;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-display;
	}
	html {
		font-family: Merriweather;
	}
}

.icons-contactme {
	@apply text-2xl m-2;
}

section {
	@apply mb-10;
}

main h2 {
	@apply uppercase text-2xl text-black;
}

.btn {
	@apply w-1/2 h-12 text-black font-display uppercase text-xl px-4 transition ease-in-out hover:text-yellow hover:bg-black duration-200;
}

.skill {
	@apply text-3xl py-2 px-4 w-fit rounded-md;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}